<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    style. 
      .red {
        color: red;
      }
  body
    h1.page-title hmepage
    .px-2.py-4.border.text-blue test-tailwind
    include views/nav.pug